$main: #c76f43;
$yellow: #faca6b;
$blue: #a1bec6;
$text: #474747;
$green: #80a27f;
$pink: #c69e94;
$purple: #dec1b9;
$light: #fbfbfb;
$canvas: #f5f5f5;
$lg: 1380px;
$sm: 600px;
$md: 1024px;
$pad: 850px;
